*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.idx
*.ilg
*.ind
*.lof
*.lot
*.lol
*.synctex
*.synctex(busy)
*.synctex.gz(busy)

*.pdfsync
*.swp
*.swo
*~

.DS_Store
Thumbs.db

build/
dist/
output/
*.bak
